### Importing Libraries

---

In [1]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Custom Seaborn Style

---

In [2]:
sns.set_theme('paper')
sns.set_style('ticks')

### Adding `utils` to `PYTHONPATH`

---

In [3]:
sys.path.append(os.path.abspath("../utils"))

### Reading Parquet File

---

In [4]:
# Importing load_parquet function from read_data module
from read_data import load_parquet
cars = load_parquet('clean_data', 'clean_data.parquet')
cars.head()

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,88760,Petrol,Manual,1st owner,219000,998,2012,Maruti,Wagon R 1.0
1,17920,Petrol,Manual,1st owner,266000,796,2016,Maruti,Alto 800
2,9940,Petrol,Manual,1st owner,496000,1373,2014,Maruti,Ertiga
3,67340,Petrol,Manual,2nd owner,355000,1199,2016,Tata,Tiago
4,30390,Petrol,Manual,1st owner,530000,998,2023,Maruti,New Wagon-R

### Handling `year` Column

---

In [5]:
# Frequency Distribution of "year" column
cars['year'].value_counts()

year
2022    310
2021    305
2018    286
2017    274
2019    263
2016    243
2020    234
2023    194
2015    188
2014    168
2013    131
2024     76
2012     65
2011     49
2010     36
2025      1
2007      1
Name: count, dtype: int64

In [6]:
# As we can see, 2007 and 2025 are very rare in our data occuring only 1 time as compared to other values
# So it's better to remove them, because model can't learn any pattern of year 2007 or 2025 with just 1 value
# And it can also cause model to overfit instead of learning meaningful patterns
cars = cars[(cars['year']!=2007) & (cars['year']!=2025)]