### Importing Libraries

---

In [1]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Adding `utils` to `PYTHONPATH`

---

In [2]:
sys.path.append(os.path.abspath("../utils"))

### Reading CSV File

---

In [3]:
# Importing load_csv function from read_data module
from read_data import load_csv
cars = load_csv('scrape_data', 'scrape_data.csv')
cars.head()

,model_name,km_driven,fuel_type,transmission,owner,price,link,engine_capacity
0,2012 Maruti Wagon R 1.0,88.76k km,Petrol,Manual,1st owner,₹2.19 lakh,https://www.cars24.com/buy-used-maruti-wagon-r...,998cc
1,2016 Maruti Alto 800,17.92k km,Petrol,Manual,1st owner,₹2.66 lakh,https://www.cars24.com/buy-used-maruti-alto-80...,796cc
2,2014 Maruti Ertiga,9.94k km,Petrol,Manual,1st owner,₹4.96 lakh,https://www.cars24.com/buy-used-maruti-ertiga-...,1373cc
3,2016 Tata Tiago,67.34k km,Petrol,Manual,2nd owner,₹3.55 lakh,https://www.cars24.com/buy-used-tata-tiago-201...,1199cc
4,2023 Maruti New Wagon-R,30.39k km,Petrol,Manual,1st owner,₹5.30 lakh,https://www.cars24.com/buy-used-maruti-new-wag...,998cc

### Dropping Unnecessary Columns

---

In [4]:
cars.drop('link', axis=1, inplace=True)

### Summary of the DataFrame

---

In [5]:
# Importing dataframe_summary function from summary module
from summary import dataframe_summary
dataframe_summary(cars)

======================================================================
                          DataFrame Summary
======================================================================
Shape: 2826 rows × 7 columns
======================================================================
Duplicate Rows: 0
======================================================================
Memory Usage: 1.20MB
======================================================================
Missing Values:
                 Missing Values     %
engine_capacity             182  6.44
======================================================================
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2826 entries, 0 to 2825
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   model_name       2826 non-null   object
 1   km_driven        2826 non-null   object
 2   fuel_type        2826 non-null   object
 3   transmission     2826 non-null   object
 4   owner            2826 non-null   object
 5   price            2826 non-null   object
 6   engine_capacity  2644 non-null   object
dtypes: object(7)
memory usage: 154.7+ KB
======================================================================
DataFrame Description:
No numerical columns in the dataframe

### Cleaning `model_name` Column

---

In [6]:
# "model_name" contains multiple information about cars :
# -> manufacturing year of cars (like 2019, 2021)
# -> brand name of cars (like Maruti, Tata)
# -> model name of cars (like Alto 800, Tiago)
# So we will extract all these information from "model_name" column
cars['model_name'].head()

0    2012 Maruti Wagon R 1.0
1       2016 Maruti Alto 800
2         2014 Maruti Ertiga
3            2016 Tata Tiago
4    2023 Maruti New Wagon-R
Name: model_name, dtype: object

In [7]:
# manufacturing year of cars
cars['model_name'].str.strip().str.split(' ', n=1).str.get(0).head()

0    2012
1    2016
2    2014
3    2016
4    2023
Name: model_name, dtype: object

In [8]:
# Checking if there are any garbage values after extracting manufacturing year details
cars['model_name'].str.strip().str.split(' ', n=1).str.get(0).unique()

array(['2012', '2016', '2014', '2023', '2021', '2024', '2020', '2022',
       '2018', '2025', '2019', '2017', '2015', '2013', '2011', '2010',
       '2007'], dtype=object)

In [9]:
# Creating "year" column to keep details about manufacturing year of cars
cars['year'] = cars['model_name'].str.strip().str.split(' ', n=1).str.get(0).astype(int)
cars.head()

,model_name,km_driven,fuel_type,transmission,owner,price,engine_capacity,year
0,2012 Maruti Wagon R 1.0,88.76k km,Petrol,Manual,1st owner,₹2.19 lakh,998cc,2012
1,2016 Maruti Alto 800,17.92k km,Petrol,Manual,1st owner,₹2.66 lakh,796cc,2016
2,2014 Maruti Ertiga,9.94k km,Petrol,Manual,1st owner,₹4.96 lakh,1373cc,2014
3,2016 Tata Tiago,67.34k km,Petrol,Manual,2nd owner,₹3.55 lakh,1199cc,2016
4,2023 Maruti New Wagon-R,30.39k km,Petrol,Manual,1st owner,₹5.30 lakh,998cc,2023

In [10]:
# brand name of cars
cars['model_name'].str.strip().str.split(' ').str.get(1).head()

0    Maruti
1    Maruti
2    Maruti
3      Tata
4    Maruti
Name: model_name, dtype: object

In [11]:
# Checking if there are any garbage values after extracting brand name details
cars['model_name'].str.strip().str.split(' ').str.get(1).unique()

array(['Maruti', 'Tata', 'Nissan', 'Renault', 'Hyundai', 'Honda', 'KIA',
       'MG', 'Ford', 'Skoda', 'Volkswagen', 'Mahindra', 'Toyota', 'Jeep',
       'Datsun', 'Mercedes', 'Audi', 'BMW', 'Jaguar', 'Landrover',
       'Volvo', 'Chevrolet', 'Force', 'Fiat', 'Premier', 'Mini',
       'Mitsubishi', 'Ssangyong', 'CITROEN', 'Porsche'], dtype=object)

In [12]:
# Creating "brand" column to keep details about brand name of cars
cars['brand'] = cars['model_name'].str.split(' ').str.get(1)
cars.head()

,model_name,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand
0,2012 Maruti Wagon R 1.0,88.76k km,Petrol,Manual,1st owner,₹2.19 lakh,998cc,2012,Maruti
1,2016 Maruti Alto 800,17.92k km,Petrol,Manual,1st owner,₹2.66 lakh,796cc,2016,Maruti
2,2014 Maruti Ertiga,9.94k km,Petrol,Manual,1st owner,₹4.96 lakh,1373cc,2014,Maruti
3,2016 Tata Tiago,67.34k km,Petrol,Manual,2nd owner,₹3.55 lakh,1199cc,2016,Tata
4,2023 Maruti New Wagon-R,30.39k km,Petrol,Manual,1st owner,₹5.30 lakh,998cc,2023,Maruti

In [13]:
# model name of cars
cars['model_name'].str.strip().str.split(' ', n=2).str.get(-1).head()

0    Wagon R 1.0
1       Alto 800
2         Ertiga
3          Tiago
4    New Wagon-R
Name: model_name, dtype: object

In [14]:
# Checking if there are any garbage values after extracting model name details
cars['model_name'].str.strip().str.split(' ', n=2).str.get(-1).unique()

array(['Wagon R 1.0', 'Alto 800', 'Ertiga', 'Tiago', 'New Wagon-R',
       'MAGNITE', 'Zest', 'Kwid', 'Xcent', 'Amaze', 'SONET', 'City',
       'TRIBER', 'S PRESSO', 'Eon', 'NEXON', 'PUNCH', 'ASTOR', 'VENUE',
       'Alto K10', 'FREESTYLE', 'Grand i10', 'Rapid', 'Polo', 'Baleno',
       'i10', 'Verna', 'Thar', 'Swift', 'NEW I20', 'Swift Dzire', 'Ciaz',
       'Harrier', 'XCENT PRIME', 'Celerio', 'KUSHAQ', 'WR-V', 'Bolero',
       'TIGOR', 'Brio', 'AURA', 'GRAND I10 NIOS', 'NEW SANTRO', 'XUV300',
       'Creta', 'Elite i20', 'URBAN CRUISER', 'ALTROZ', 'Kiger', 'SLAVIA',
       'Grand Vitara', 'Duster', 'BREZZA', 'Micra Active', 'XUV500',
       'Glanza', 'Compass', 'TUV300', 'Alto', 'Eeco', 'Jazz', 'SELTOS',
       'VIRTUS', 'Celerio X', 'HECTOR', 'Micra', 'ALCAZAR', 'HECTOR PLUS',
       'TAIGUN', 'Vitara Brezza', 'Redi Go', 'Figo Aspire', 'Ecosport',
       'Figo', 'SCORPIO-N', 'FRONX', 'S Cross', 'NEW I20 N LINE',
       'i20 Active', 'Benz GLE', 'Benz E Class', 'Q7', 'X5', 'Q3', 'X1',
       '1 Series', 'Endeavour', 'M340i', 'Benz C Class', 'Ritz', 'Camry',
       'Dzire', 'GLOSTER', 'YARIS', 'XJ L', 'Range Rover', 'Superb',
       'Fortuner', 'Benz GLA Class', 'IGNIS', 'Benz CLA Class',
       'GRAND CHEROKEE', 'Q5', 'S90', 'TIAGO NRG', 'i20', 'Kuv100',
       'V 40', 'A6', 'TIGUAN', 'Benz A CLASS LIMOUSINE', 'XC 40',
       '5 Series', 'Range Rover Evoque', 'MARAZZO', 'CARENS', '3 Series',
       'Benz GLC CLASS', 'Etios', 'KUV 100 NXT', 'DISCOVERY SPORT',
       'Safari', 'Wagon R Stingray', 'Vento', 'BOLERO NEO', 'New Figo',
       'Fiesta', 'SX4', 'Indigo ECS', 'Civic', 'Ameo', 'Sunny', 'Curvv',
       'A Star', 'Beat', 'Benz GL Class', 'E2O', 'EXTER', 'Go', 'Nano',
       'Sail', 'Fabia', 'Motors Force One', 'Grand Punto', 'Santro Xing',
       'BR-V', 'XL6', 'Classic', 'Rio', 'Spark', 'Indica V2',
       'Cooper Countryman', 'Octavia', 'Linea', 'Go Plus', 'Laura',
       'XUV700', 'Bolt', 'ELEVATE', 'Innova', 'A4', 'OMNI E', 'Kicks',
       'Terrano', 'Mobilio', 'Cruze', 'Scorpio', 'Lodgy', 'Captur',
       '7 Series', 'Pajero Sport', 'XF', 'XUV 3XO', 'New Elantra', 'Hexa',
       'Corolla Altis', 'CRV', 'Tucson', 'Rexton', 'A3', 'E C3', 'Xylo',
       'E20 Plus', 'NEXON EV', 'ZS EV', 'KONA ELECTRIC', 'Curvv EV',
       'TIGOR EV', 'Benz A Class', 'Etios Liva', 'ALTURAS G4',
       'VENUE N LINE', 'Innova Crysta', 'S60', 'RANGE ROVER VELAR', 'X7',
       'Benz S Class', 'XC 90', 'Z4', 'Benz CLS Class', 'F- PACE',
       'Benz GLC COUPE', 'X3', 'Lexus', 'Cayenne', 'Clubman',
       'Range Rover Sport', 'CARNIVAL', '911', 'Cooper', '6 Series', 'XE',
       'Benz Maybach S Class', 'X4', 'Accent', 'Discovery 4'],
      dtype=object)

In [15]:
# Creating "model" column to keep details about model name of cars
cars['model'] = cars['model_name'].str.strip().str.split(' ', n=2).str.get(-1)
cars.head()

,model_name,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,2012 Maruti Wagon R 1.0,88.76k km,Petrol,Manual,1st owner,₹2.19 lakh,998cc,2012,Maruti,Wagon R 1.0
1,2016 Maruti Alto 800,17.92k km,Petrol,Manual,1st owner,₹2.66 lakh,796cc,2016,Maruti,Alto 800
2,2014 Maruti Ertiga,9.94k km,Petrol,Manual,1st owner,₹4.96 lakh,1373cc,2014,Maruti,Ertiga
3,2016 Tata Tiago,67.34k km,Petrol,Manual,2nd owner,₹3.55 lakh,1199cc,2016,Tata,Tiago
4,2023 Maruti New Wagon-R,30.39k km,Petrol,Manual,1st owner,₹5.30 lakh,998cc,2023,Maruti,New Wagon-R

In [16]:
# Now we don't need "model_name" column, so we can drop it
cars.drop('model_name', axis=1, inplace=True)

### Cleaning `km_driven` Column

---

In [17]:
# "km_driven" column contains "km" suffix
# To convert "km_driven" into numerical datatype, we have to remove the "km" suffix
cars['km_driven'].head()

0    88.76k km
1    17.92k km
2     9.94k km
3    67.34k km
4    30.39k km
Name: km_driven, dtype: object

In [18]:
# Removing "km" suffix from "km_driven" column
cars['km_driven'] = cars['km_driven'].str.split(' ').str.get(0)
cars['km_driven'].head()

0    88.76k
1    17.92k
2     9.94k
3    67.34k
4    30.39k
Name: km_driven, dtype: object

In [19]:
# There are 2 values in "km_driven" column that don't have any suffix associated with them 
# It might be because of any data collection or web scraping error, so we must remove these values
cars[cars['km_driven'].str.isdigit()]

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
1230,250,Petrol,Manual,1st owner,₹5.37 lakh,998cc,2024,Maruti,Alto K10
1509,677,Petrol,Auto,1st owner,₹6.00 lakh,NaN,2024,Renault,Kwid

In [20]:
# Removing values that don't have any suffix associated with them
cars = cars[(cars['km_driven'].str.endswith('k')) | (cars['km_driven'].str.endswith('L'))]

In [21]:
# "km_driven" column contains 2 types of suffix : "k" or "L"
cars['km_driven'].str.get(-1).unique()

array(['k', 'L'], dtype=object)

In [22]:
# Importing km_driven_cleaner function from helpers module
from helpers import km_driven_cleaner

In [23]:
# Applying km_driven_cleaner function on "km_driven" column
cars.loc[:,'km_driven'] = cars.loc[:,'km_driven'].apply(km_driven_cleaner)
cars.head()

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,88760,Petrol,Manual,1st owner,₹2.19 lakh,998cc,2012,Maruti,Wagon R 1.0
1,17920,Petrol,Manual,1st owner,₹2.66 lakh,796cc,2016,Maruti,Alto 800
2,9940,Petrol,Manual,1st owner,₹4.96 lakh,1373cc,2014,Maruti,Ertiga
3,67340,Petrol,Manual,2nd owner,₹3.55 lakh,1199cc,2016,Tata,Tiago
4,30390,Petrol,Manual,1st owner,₹5.30 lakh,998cc,2023,Maruti,New Wagon-R

### Cleaning `fuel_type` Column

---

In [24]:
# "fuel_type" column has nothing to clean, but to proceed without any error, we can strip the values to remove any extra spaces
cars['fuel_type'] = cars['fuel_type'].str.strip()
cars['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'Hybrid', 'Electric'], dtype=object)

### Cleaning `owner` Column

---

In [25]:
# "owner" column has nothing to clean, but to proceed without any error, we can strip the values to remove any extra spaces
cars['owner'] = cars['owner'].str.strip()
cars['owner'].unique()

array(['1st owner', '2nd owner', '3rd owner', '4th owner', '5th owner',
       '6th owner'], dtype=object)

### Cleaning `transmission` Column

---

In [26]:
# "transmission" column has nothing to clean, but to proceed without any error, we can strip the values to remove any extra spaces
cars['transmission'] = cars['transmission'].str.strip()
cars['transmission'].unique()

array(['Manual', 'Auto'], dtype=object)

In [27]:
# "transmission" column contains 2 types of values : "Auto" and "Manual"
# But Auto should be labeled as Automatic, which makes more sense, so we will update it
cars['transmission'] = cars['transmission'].str.replace('Auto','Automatic')
cars.head()

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,88760,Petrol,Manual,1st owner,₹2.19 lakh,998cc,2012,Maruti,Wagon R 1.0
1,17920,Petrol,Manual,1st owner,₹2.66 lakh,796cc,2016,Maruti,Alto 800
2,9940,Petrol,Manual,1st owner,₹4.96 lakh,1373cc,2014,Maruti,Ertiga
3,67340,Petrol,Manual,2nd owner,₹3.55 lakh,1199cc,2016,Tata,Tiago
4,30390,Petrol,Manual,1st owner,₹5.30 lakh,998cc,2023,Maruti,New Wagon-R

### Cleaning `price` Column

---

In [28]:
# "price" column contains "₹" prefix
# To convert "price" into numerical datatype, we have to remove the "₹" prefix
cars['price'] = cars['price'].str.replace('₹','')
cars.head()

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,88760,Petrol,Manual,1st owner,2.19 lakh,998cc,2012,Maruti,Wagon R 1.0
1,17920,Petrol,Manual,1st owner,2.66 lakh,796cc,2016,Maruti,Alto 800
2,9940,Petrol,Manual,1st owner,4.96 lakh,1373cc,2014,Maruti,Ertiga
3,67340,Petrol,Manual,2nd owner,3.55 lakh,1199cc,2016,Tata,Tiago
4,30390,Petrol,Manual,1st owner,5.30 lakh,998cc,2023,Maruti,New Wagon-R

In [29]:
# "price" column contains 2 types of suffix : "lakh" or "Crore"
cars['price'].str.split(' ').str.get(1).unique()

array(['lakh', 'Crore'], dtype=object)

In [30]:
# Importing price_cleaner function from helpers module
from helpers import price_cleaner

In [31]:
# Applying price_cleaner function on "price" column
cars.loc[:,'price'] = cars.loc[:,'price'].apply(price_cleaner)
cars.head()

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,88760,Petrol,Manual,1st owner,219000,998cc,2012,Maruti,Wagon R 1.0
1,17920,Petrol,Manual,1st owner,266000,796cc,2016,Maruti,Alto 800
2,9940,Petrol,Manual,1st owner,496000,1373cc,2014,Maruti,Ertiga
3,67340,Petrol,Manual,2nd owner,355000,1199cc,2016,Tata,Tiago
4,30390,Petrol,Manual,1st owner,530000,998cc,2023,Maruti,New Wagon-R

### Cleaning `engine_capacity` Column

---

In [32]:
# "engine_capacity" column contains "cc" suffix
# To convert "engine_capacity" into numerical datatype, we have to remove the "cc" suffix
cars['engine_capacity'] = cars['engine_capacity'].str.replace('cc','').astype(float)
cars.head()

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,88760,Petrol,Manual,1st owner,219000,998.0,2012,Maruti,Wagon R 1.0
1,17920,Petrol,Manual,1st owner,266000,796.0,2016,Maruti,Alto 800
2,9940,Petrol,Manual,1st owner,496000,1373.0,2014,Maruti,Ertiga
3,67340,Petrol,Manual,2nd owner,355000,1199.0,2016,Tata,Tiago
4,30390,Petrol,Manual,1st owner,530000,998.0,2023,Maruti,New Wagon-R

In [33]:
# Null values in "engine_capacity" column
print(f"Total Null values in 'engine_capacity' column : {cars['engine_capacity'].isna().sum()}")

Total Null values in 'engine_capacity' column : 181

In [34]:
# "engine_capacity" column contains numerical values but in discrete form (like categories)
# So we can use the most occuring value (mode) to fill the Null values, instead of mean or median
cars['engine_capacity'].unique()

array([ 998.,  796., 1373., 1199.,   nan, 1193.,  999., 1197., 1198.,
       1497.,  814., 1498., 1194., 1248., 1086., 1591., 1997., 1956.,
       1493., 1353., 1462., 1461., 1186., 2179., 1349., 1368., 1196.,
       1451., 1120., 1582., 1598., 2183., 1396.,  799., 2987., 1950.,
       2993., 1968., 1995., 3198., 2998., 2143., 1998., 2487., 1499.,
       1996., 1496., 4367., 1798., 2982., 1991., 1969., 1984., 1999.,
       2184., 1586., 1405., 1799., 1047.,  936., 2953., 1399.,  627.,
        624., 2149.,  995., 2494., 1330., 2523., 1597., 2477., 2755.,
       2354., 2696., 1482., 2489., 4134., 2496., 2157., 2694., 1797.,
       2967., 1796., 2925., 1395., 2979., 4663., 2199., 2981., 1332.,
       2198., 1495., 2393.])

In [35]:
# We are calculating global mode of "engine_capacity" column
# Because there might be some car brand that only have a single car in the data (infrequent category)
# So we will replace those "engine_capacity" values with global mode
global_mode = cars['engine_capacity'].mode()[0]
print(f"Global Mode : {global_mode}")

Global Mode : 1197.0

In [36]:
# Filling the Null values in "engine_capacity" column by grouping data by "brand" column
# And using the most frequent "engine_capacity" value per brand to fill the Null values
# If there are no most frequent "engine_capacity" value per brand, we will use the global mode to fill those values
cars['engine_capacity'] = cars.groupby(by='brand')['engine_capacity'].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else global_mode))
cars.head()

,km_driven,fuel_type,transmission,owner,price,engine_capacity,year,brand,model
0,88760,Petrol,Manual,1st owner,219000,998.0,2012,Maruti,Wagon R 1.0
1,17920,Petrol,Manual,1st owner,266000,796.0,2016,Maruti,Alto 800
2,9940,Petrol,Manual,1st owner,496000,1373.0,2014,Maruti,Ertiga
3,67340,Petrol,Manual,2nd owner,355000,1199.0,2016,Tata,Tiago
4,30390,Petrol,Manual,1st owner,530000,998.0,2023,Maruti,New Wagon-R

### Optimizing Memory Usage of DataFrame

---

In [37]:
# Detailed Memory Usage of DataFrame (For Overall DataFrame)
# It currently occupies more than 800KB of memory
cars.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 2824 entries, 0 to 2825
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   km_driven        2824 non-null   object
 1   fuel_type        2824 non-null   object
 2   transmission     2824 non-null   object
 3   owner            2824 non-null   object
 4   price            2824 non-null   object
 5   engine_capacity  2824 non-null   float64
 6   year             2824 non-null   int64
 7   brand            2824 non-null   object
 8   model            2824 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.0 MB

In [38]:
# Column-wise Memory Usage
cars.memory_usage(deep=True)

Index               22592
km_driven          101664
fuel_type          155008
transmission       158059
owner              163792
price              101664
engine_capacity     22592
year                22592
brand              154972
model              156526
dtype: int64

---

In [39]:
# Actual space occupied by "km_driven" column
cars['km_driven'].memory_usage(deep=True)

124256

In [40]:
# DataType of "km_driven" column
cars['km_driven'].dtype

dtype('O')

In [41]:
# "km_driven" is a numerical column but its datatype is object, so we will transform it
# Since the range of int64 is from –9 quintillion to +9 quintillion
# Which is totally unnecessary for "km_driven" column
# int32 ranges from –2,147,483,648 to 2,147,483,647 which is more than enough
cars['km_driven'].astype(np.int32).memory_usage(deep=True)

33888

In [42]:
# So we will update the datatype of "km_driven" column to int32
cars['km_driven'] = cars['km_driven'].astype(np.int32)

---

In [43]:
# Actual space occupied by "price" column
cars['price'].memory_usage(deep=True)

124256

In [44]:
# DataType of "price" column
cars['price'].dtype

dtype('O')

In [45]:
# "price" is a numerical column but its datatype is object, so we will transform it
# Since the range of int64 is from –9 quintillion to +9 quintillion
# Which is totally unnecessary for "price" column
# int32 ranges from –2,147,483,648 to 2,147,483,647 which is more than enough
cars['price'].astype(np.int32).memory_usage(deep=True)

33888

In [46]:
# So we will update the datatype of "price" column to int32
cars['price'] = cars['price'].astype(np.int32)

---

In [47]:
# Actual space occupied by "year" column
cars['year'].memory_usage(deep=True)

45184

In [48]:
# DataType of "year" column
cars['year'].dtype

dtype('int64')

In [49]:
# Since the range of int64 is from –9 quintillion to +9 quintillion
# Which is totally unnecessary for "year" column
# int16 ranges from –32,768 to 32,768 which is more than enough
cars['year'].astype(np.int16).memory_usage(deep=True)

28240

In [50]:
# So we will update the datatype of "year" column to int16
cars['year'] = cars['year'].astype(np.int16)

---

In [51]:
# Actual space occupied by "engine_capacity" column
cars['engine_capacity'].memory_usage(deep=True)

45184

In [52]:
# DataType of "engine_capacity" column
cars['engine_capacity'].dtype

dtype('float64')

In [53]:
# Since the range of float64 is from 2.225074 × 10⁻³⁰⁸ to 1.797693 × 10³⁰⁸
# Which is totally unnecessary for "engine_capacity" column
# And because "engine_capacity" has null values while data cleaning, it was converted to float
# But now int datatype will be fine for "engine_capacity" column
# int16 ranges from –32,768 to 32,768 which is more than enough
cars['engine_capacity'].astype(np.int16).memory_usage(deep=True)

28240

In [54]:
# So we will update the datatype of "engine_capacity" column to int16
cars['engine_capacity'] = cars['engine_capacity'].astype(np.int16)

---

In [55]:
# Actual space occupied by "fuel_type" column
cars['fuel_type'].memory_usage(deep=True)

177600

In [56]:
# DataType of "fuel_type" column
cars['fuel_type'].dtype

dtype('O')

In [57]:
# Since "fuel_type" is a categorical column
# It's better to convert it into category datatype rather than object
# It will occupy significantly less space and be more efficent in operation like group by, merge, etc.
cars['fuel_type'].astype('category').memory_usage(deep=True)

25862

In [58]:
# So we will update the datatype of "fuel_type" column to category
cars['fuel_type'] = cars['fuel_type'].astype('category')

---

In [59]:
# Actual space occupied by "transmission" column
cars['transmission'].memory_usage(deep=True)

180651

In [60]:
# DataType of "transmission" column
cars['transmission'].dtype

dtype('O')

In [61]:
# Since "transmission" is a categorical column
# It's better to convert it into category datatype rather than object
# It will occupy significantly less space and be more efficent in operation like group by, merge, etc.
cars['transmission'].astype('category').memory_usage(deep=True)

25637

In [62]:
# So we will update the datatype of "transmission" column to category
cars['transmission'] = cars['transmission'].astype('category')

---

In [63]:
# Actual space occupied by "owner" column
cars['owner'].memory_usage(deep=True)

186384

In [64]:
# DataType of "owner" column
cars['owner'].dtype

dtype('O')

In [65]:
# Since "owner" is a categorical column
# It's better to convert it into category datatype rather than object
# It will occupy significantly less space and be more efficent in operation like group by, merge, etc.
cars['owner'].astype('category').memory_usage(deep=True)

25936

In [66]:
# So we will update the datatype of "owner" column to category
cars['owner'] = cars['owner'].astype('category')

---

In [67]:
# Actual space occupied by "model" column
cars['model'].memory_usage(deep=True)

179118

In [68]:
# DataType of "model" column
cars['model'].dtype

dtype('O')

In [69]:
# Since "model" is a categorical column (even though it contains 100s of unique category)
# It's better to convert it into category datatype rather than object
# It will occupy significantly less space and be more efficent in operation like group by, merge, etc.
# category datatype stores each unique string once, saving huge memory
# where object datatype stores each string as a full Python object in memory, which can occupy huge memory
cars['model'].astype('category').memory_usage(deep=True)

48656

In [70]:
# So we will update the datatype of "model" column to category
cars['model'] = cars['model'].astype('category')

---

In [71]:
# Actual space occupied by "brand" column
cars['brand'].memory_usage(deep=True)

177564

In [72]:
# DataType of "brand" column
cars['brand'].dtype

dtype('O')

In [73]:
# Since "brand" is a categorical column (even though it contains 10s of unique category)
# It's better to convert it into category datatype rather than object
# It will occupy significantly less space and be more efficent in operation like group by, merge, etc.
# category datatype stores each unique string once, saving huge memory
# where object datatype stores each string as a full Python object in memory, which can occupy huge memory
cars['brand'].astype('category').memory_usage(deep=True)

28138

In [74]:
# So we will update the datatype of "brand" column to category
cars['brand'] = cars['brand'].astype('category')

---

In [75]:
# Detailed Memory Usage of DataFrame after Optimization (For Overall DataFrame)
# It now occupies only 95KB of memory
cars.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 2824 entries, 0 to 2825
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   km_driven        2824 non-null   int32
 1   fuel_type        2824 non-null   category
 2   transmission     2824 non-null   category
 3   owner            2824 non-null   category
 4   price            2824 non-null   int32
 5   engine_capacity  2824 non-null   int16
 6   year             2824 non-null   int16
 7   brand            2824 non-null   category
 8   model            2824 non-null   category
dtypes: category(5), int16(2), int32(2)
memory usage: 95.5 KB

In [76]:
# Column-wise Memory Usage after Optimization
cars.memory_usage(deep=True)

Index              22592
km_driven          11296
fuel_type           3270
transmission        3045
owner               3344
price              11296
engine_capacity     5648
year                5648
brand               5546
model              26064
dtype: int64