### Importing Libraries

---

In [1]:
import os
import sys
import time
import random
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

### Adding `utils` to `PYTHONPATH`

---

In [2]:
sys.path.append(os.path.abspath("../utils"))

### Scraping `Cars24` Website

---

In [3]:
# Importing "scrape_car_listing" and "get_car_details" function from web_scraping module
from web_scraping import scrape_car_listing, get_car_details

In [4]:
# Parsing HTML Content of Hyderabad City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-hyderabad/')

In [5]:
# Extracting and Saving Car Details of Hyderabad City into a DataFrame
hyderabad = get_car_details(soup)

In [6]:
# Parsing HTML Content of Bangalore City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-bangalore/')

In [7]:
# Extracting and Saving Car Details of Bangalore City into a DataFrame
bangalore = get_car_details(soup)

In [8]:
# Parsing HTML Content of Mumbai City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-mumbai/')

In [9]:
# Extracting and Saving Car Details of Mumbai City into a DataFrame
mumbai = get_car_details(soup)

In [10]:
# Parsing HTML Content of Delhi City from Cars24 Website
soup = scrape_car_listing('https://www.cars24.com/buy-used-cars-delhi-ncr/')

In [11]:
# Extracting and Saving Car Details of Delhi City into a DataFrame
delhi = get_car_details(soup)

In [12]:
# Concatenating Car Details of Different Cities into Single DataFrame
df = pd.concat([hyderabad, bangalore, mumbai, delhi], ignore_index=True)
df.head()

,model_name,km_driven,fuel_type,transmission,owner,price,link
0,2012 Maruti Wagon R 1.0,88.76k km,Petrol,Manual,1st owner,₹2.19 lakh,https://www.cars24.com/buy-used-maruti-wagon-r...
1,2016 Maruti Alto 800,17.92k km,Petrol,Manual,1st owner,₹2.66 lakh,https://www.cars24.com/buy-used-maruti-alto-80...
2,2014 Maruti Ertiga,9.94k km,Petrol,Manual,1st owner,₹4.96 lakh,https://www.cars24.com/buy-used-maruti-ertiga-...
3,2016 Tata Tiago,67.34k km,Petrol,Manual,2nd owner,₹3.55 lakh,https://www.cars24.com/buy-used-tata-tiago-201...
4,2023 Maruti New Wagon-R,30.39k km,Petrol,Manual,1st owner,₹5.30 lakh,https://www.cars24.com/buy-used-maruti-new-wag...

### Scraping `engine_capacity` Details

---

In [13]:
# Importing "get_engine_capacity" function from web_scraping module
from web_scraping import get_engine_capacity

In [14]:
# Extracting engine capacity of each car using its car listing link of Cars24 Website
engine_capacity = get_engine_capacity(df['link'])

In [15]:
# Adding "engine_capacity" column in the DataFrame
df['engine_capacity'] = engine_capacity

In [16]:
# Final DataFrame after Web Scrapping
df.head()

,model_name,km_driven,fuel_type,transmission,owner,price,link,engine_capacity
0,2012 Maruti Wagon R 1.0,88.76k km,Petrol,Manual,1st owner,₹2.19 lakh,https://www.cars24.com/buy-used-maruti-wagon-r...,998cc
1,2016 Maruti Alto 800,17.92k km,Petrol,Manual,1st owner,₹2.66 lakh,https://www.cars24.com/buy-used-maruti-alto-80...,796cc
2,2014 Maruti Ertiga,9.94k km,Petrol,Manual,1st owner,₹4.96 lakh,https://www.cars24.com/buy-used-maruti-ertiga-...,1373cc
3,2016 Tata Tiago,67.34k km,Petrol,Manual,2nd owner,₹3.55 lakh,https://www.cars24.com/buy-used-tata-tiago-201...,1199cc
4,2023 Maruti New Wagon-R,30.39k km,Petrol,Manual,1st owner,₹5.30 lakh,https://www.cars24.com/buy-used-maruti-new-wag...,998cc

### Exporting Final DataFrame as CSV File

---

In [17]:
# Importing "export_as_csv" function from export_data module
from export_data import export_as_csv

In [19]:
# Exporting Final DataFrame as CSV File
export_as_csv(df, 'scrape_data', 'scrape_data.csv')

Successfully exported the DataFrame as 'scrape_data.csv'